.text-left,
.txt-l {
  text-align: left;
}
.text-right,
.txt-r {
  text-align: right;
}
.text-center,
.txt-c {
  text-align: center;
}
.text-justify,
.txt-j {
  text-align: justify;
}

.weight-light,
.wght-l {
  font-weight: lighter;
}
.weight-normal,
.wght-n l {
  font-weight: normal;
}
.weight-bold,
.wgth-b {
  font-weight: bold;
}

.text-shadow-small,
.txt-sh-s {
  text-shadow: 0 0.1em 0.1em #000;
}
.text-shadow-normal,
.txt-sh-n {
  text-shadow: 0 0.3em 0.5em #000;
}
.text-shadow-large,
.txt-sh-l {
  text-shadow: 0 0.8em 1em #000;
}
